Repository sil-org/cloudflare-scanner, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sil-org/developers, @sil-org/tf-devs, @sil-org/go-devs

Rename docker-compose.yml to compose.yaml
  compose.yaml
Owners: @sil-org/developers

rename to sil-org
  src/go.mod
Owners: @sil-org/go-devs

change to SIL Global
  LICENSE
Owners: @sil-org/developers

add sentry
  src/go.mod
  src/go.sum
  src/main.go
Owners: @sil-org/go-devs

Add sentry vars to CI and CDK
  .github/workflows/ci.yml
  cdk/cdk.go
Owners: @sil-org/developers, @sil-org/go-devs

rename silinternational to sil-org
  terraform/main.tf
Owners: @sil-org/tf-devs

simplify CDK deployment user
  terraform/main.tf
  terraform/outputs.tf
Owners: @sil-org/tf-devs

remove comments that add no clarity
  terraform/main.tf
Owners: @sil-org/tf-devs

embed the CDK policy with the user
  terraform/main.tf
Owners: @sil-org/tf-devs

add the missing .name on the user attribute
  terraform/main.tf
Owners: @sil-org/tf-devs

add sentry exception capturing
  cdk/cdk.go
  src/main.go
Owners: @sil-org/go-devs

add app_env to ci
  .github/workflows/ci.yml
Owners: @sil-org/developers

PR suggestion
  .github/workflows/ci.yml
Owners: @sil-org/developers

Revise credential rotation instructions for AWS CDK
  README.md
Owners: @sil-org/developers

adjust markdown numbering in README
  README.md
Owners: @sil-org/developers

update to Go 1.25
  Dockerfile
  cdk/go.mod
  cdk/go.sum
  src/go.mod
  src/go.sum
Owners: @sil-org/developers, @sil-org/go-devs

Upgrade checkout action to version 5
  .github/workflows/ci.yml
Owners: @sil-org/developers

upgrade GitHub actions to support Node 24
  .github/workflows/ci.yml
Owners: @sil-org/developers

deploy using a role
  .github/workflows/ci.yml
  README.md
  cdk/cdk.go
  terraform/main.tf
  terraform/outputs.tf
  terraform/variables.tf
Owners: @sil-org/developers, @sil-org/go-devs, @sil-org/tf-devs

update Go to 1.25.9 for security
  src/go.mod
Owners: @sil-org/go-devs

convert from AppConfig to SSM Parameter Store
  .github/workflows/ci.yml
  cdk/cdk.context.json
  cdk/cdk.go
  local-example.env
  src/go.mod
  src/go.sum
  src/main.go
  src/main_test.go
Owners: @sil-org/developers, @sil-org/go-devs

add a daily govulncheck scan
  .github/workflows/govulncheck.yaml
  terraform/main.tf
Owners: @sil-org/developers, @sil-org/tf-devs

PR feedback: use log.Fatal for parameter validation
  Dockerfile
  cdk/cdk.go
Owners: @sil-org/developers, @sil-org/go-devs

correct the SSM permission
  cdk/cdk.go
Owners: @sil-org/go-devs

Delete .github/dependabot.yml
  .github/dependabot.yml
Owners: @sil-org/developers

update Go to 1.26.3
  Dockerfile
  cdk/go.mod
  cdk/go.sum
  src/go.mod
Owners: @sil-org/developers, @sil-org/go-devs

update Go to 1.26.4 (and only run govulncheck once a week)
  .github/workflows/govulncheck.yaml
  cdk/go.mod
  src/go.mod
Owners: @sil-org/developers, @sil-org/go-devs

add sonar setting to vscode
  .vscode/settings.json
Owners: @sil-org/developers

use slog for structured logs
  cdk/cdk.go
  src/main.go
  src/main_test.go
Owners: @sil-org/go-devs

update Go to 1.26.5
  Dockerfile
  cdk/go.mod
  src/go.mod
Owners: @sil-org/developers, @sil-org/go-devs

update AWS provider to v6
  terraform/.terraform.lock.hcl
  terraform/versions.tf
Owners: @sil-org/tf-devs

Update notification email address in govulncheck.yaml
  .github/workflows/govulncheck.yaml
Owners: @sil-org/developers

update Go to 1.26.6
  Dockerfile
  cdk/go.mod
  src/go.mod
Owners: @sil-org/developers, @sil-org/go-devs

fix reversal of email addresses by defining a param struct
  src/main.go
Owners: @sil-org/go-devs

Send from ses.sil.org. The groups.sil.org SES domain identity is gone.
  .github/workflows/govulncheck.yaml
  cdk/cdk.go
  terraform/main.tf
Owners: @sil-org/developers, @sil-org/go-devs, @sil-org/tf-devs

update Go to 1.27 to patch vulnerabilities
  Dockerfile
  cdk/go.mod
  cdk/go.sum
  src/go.mod
Owners: @sil-org/developers, @sil-org/go-devs

update x/net
  cdk/go.mod
  cdk/go.sum
Owners: @sil-org/go-devs

go mod tidy
  cdk/go.mod
  cdk/go.sum
Owners: @sil-org/go-devs

.github/CODEOWNERS:

* @sil-org/developers
/terraform @sil-org/tf-devs
*.go @sil-org/go-devs
go.* @sil-org/go-devs
